/* .main{
  background-color: rgb(201, 198, 198);
}

.windows {
  min-height: 100vh;
  width: 600px;
  margin-left: 20%;
  border-radius: 8px;

  background-color: #f1f2f4;
  border: 1px solid green;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.textAreaSection {
  margin: 3% 2%;
  padding-top: 3%;
  display: flex;
  flex-direction: row;
}
.textArea {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding-bottom: 0;
}
.laptop {
  margin-right: 2%;
  padding-bottom: 3%;
  margin-top: 15px;
}
.cross {
  margin-left: 1%;
  margin-top: -1%;
}
.textArea input {
  font-size: 24px;
  border-left: none;
  border-right: none;
}

.textArea input:focus {
  outline-color: skyblue;
}

.p {
  margin-top: 0;
  font-size: 18px;
} */

.main {
  background-color: rgb(201, 198, 198);
}

.windows {
  height: 100%;
  width: 100%;

  /* border-radius: 8px; */
  background-color: whitesmoke;

  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); */
}

.textAreaSection {
  margin: 3% 2%;
  padding-top: 3%;
  display: flex;
  flex-direction: row;
}

.textArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

.laptop {
  margin-right: 2%;
  padding-bottom: 3%;
  margin-top: 15px;
}

.cross {
  margin-left: 1%;
  margin-top: -1%;
}

.textArea input {
  font-size: 24px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.textArea input:focus {
  outline-color: skyblue;
}

.p {
  margin-top: 0;
  font-size: 18px;
}
